body{
    margin: 0;
    font-family: sans-serif;
}
#page-heading{
    text-align: center;
    margin-top: 25px;
    color: gray;
}
.contact-list-container{
    padding: 0;
    list-style: none;
}
.contact{
    padding: 3px 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px lightgray;
    background-color: blue;
    color: white;
    display: flex;
}
.contact .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

}
.contact.delete-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
}
.contact.delete-button a{
    color: white;
    background-color: red;
}
.contact p{
    max-width: 5px 0;
}
a:hover {
    background-color:grey;
}
#new-contact-form{
    text-align: center;
}